<app-navbar></app-navbar>
<div class="jumbotron">
    <h1 class="display-4">Alpha IT Solutions</h1>
    <p class="lead">Empowering the Digital Generation.</p>
    <hr class="my-8">
    <p class="lead">
        Alpha IT Solutions is a digital-first company offering cloud and mobile ERP solutions to Retail, Restaurant and Distribution businesses. Established in 2004, we help businesses embrace agility and transform digitally to stay competitive in the dynamic market. We help businesses grow with minimal staff, least skills along with 100% accurate and reliable solutions. GOFRUGAL's products and solutions empowers businesses to delight its customers, manage them efficiently, connect and collaborate with its stakeholders and most importantly take timely decisions on the move. More than 30,000 customers across 60+ countries experience simplicity in running their businesses with GOFRUGAL. We address the needs of a wide spectrum of customers from small independent stores to local chains and large enterprises. A global player headquartered in Chennai, we envision a ‘Happiness First’ environment to provide a friction less experience to all the stakeholders</p>
    <hr class="my-8">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>